<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузить фотографию</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Загрузить фотографию</h1>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error-summary">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="errors">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Загрузить</button>
    </form>

    <footer>
        <a href="{% url 'home' %}">Вернуться на главную страницу</a>
    </footer>
</body>
</html>