<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профили пользователей</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <article>
        <h1>Список пользователей</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Дата рождения</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone_number }}</td>
                        <td>{{ user.birth_date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Нет доступных данных.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    <footer>
        {% block basement %}
        <button><a href="http://127.0.0.1:8000">Вернуться на главную страницу</a></button>
        {% endblock %}
    </footer>
</body>
</html>
